.env*
*.env
!*.example
!language.env
!*/language.env

config/proxy/extension_proxy.coston.toml
config/proxy/extension_proxy.coston.docker.toml
config/proxy/extension_proxy.coston2.toml
config/proxy/extension_proxy.coston2.docker.toml
config/extension.env
out/
cache/
.DS_Store

go.work
go.work.sum

typescript/node_modules/
typescript/dist/

config/**/*.log
config/register-tee.state
